.rightbarContainer {
  flex: 3.5;
  background: rgba(255, 0, 0, 0.2);
}

.rightbarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.birthdayContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.birthdayText {
  font-weight: 300;
  font-style: 15px;
  margin-left: 10px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarTitle {
  margin: 20px 0;
}

.rightbarFriendsList {
  margin: 0;
  padding: 0;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #00ff00;
  position: absolute;
  top: -2px;
  right: 0px;
  border: 2px solid #fff;
}

.rightbarUsername {
  font-weight: 500;
}
