.sidebar {
  flex: 3;
  background: rgba(0, 255, 0, 0.2);
  height: calc(100vh - 50px);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 10px;
}
