.sidebar {
  flex: 3;
  background: rgba(0, 255, 0, 0.2);
  height: calc(100vh - 50px);
  overflow-y: auto;
  position: sticky;
  top: 50px;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  width: 5px;
  background: whitesmoke;
}

.sidebar::-webkit-scrollbar-thumb {
  width: 5px;
  background: lightgray;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 10px;
}

.sidebarButton {
  padding: 10px;
  width: 100%;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.sidebarHr {
  margin: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.sidebarFriendList {
  margin: 0;
  padding: 0;
  list-style: none;
}
